<div class="row">
  <div class="col s6 m3" *ngFor="let produt of produts | keyvalue">
    <div class="card">
      <div class="card-image">
        <a [routerLink]="['/product', produt.key]">
          <img class="" [src]="produt.value.image_url" />
        </a>
        <a
          class="btn-floating btn-large waves-effect waves-light halfway-fab red"
          ><i class="material-icons">add</i></a
        >
      </div>
      <div class="card-content">
          <a [routerLink]="['/product', produt.key]">
            {{ produt.value.title }}
          </a>
          <h6 class="">
            {{ (produt.value.price) | currency : "UAH" : "symbol-narrow" }}
          </h6>
      </div>
    </div>
  </div>
</div>
