<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper green">
      <a [routerLink]="['']" class="brand-logo left">Logo</a>
      <ul id="nav-mobile" class="right">
        <li>
          <a [routerLink]="['/cart']"
            ><i class="material-icons">shopping_cart</i></a
          >
        </li>
        <div *ngIf="is_admin(); then adminBlock; else notAdminBlock"></div>
        <ng-template #adminBlock>
          <li>
            <a [routerLink]="['/admin']"
              ><i class="material-icons">logout</i></a
            >
          </li>
        </ng-template>
        <ng-template #notAdminBlock>
          <li>
            <a [routerLink]="['/admin']"
              ><i class="material-icons">admin_panel_settings</i></a
            >
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
