<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper green">
      <a [routerLink]="['']" class="brand-logo left">Logo</a>
      <ul id="nav-mobile" class="right">
        <li>
          <a [routerLink]="['/cart']" style="position: relative;">
            <i class="material-icons">shopping_cart</i>
            <h6 *ngIf="countincart>0" style="
            position: absolute;
            color: white;
            background: #f53224;
            right: 4px;
            bottom: 6px;
            border-radius: 25%;
            padding: 3px;
            font-size: 10px;
            font-weight: bold;
            ">
              {{countincart>0?countincart:""}}
            </h6>
        </a>
        </li>
        <div *ngIf="is_admin(); then adminBlock; else notAdminBlock"></div>
        <ng-template #adminBlock>
          <li>
            <a [routerLink]="['/admin']"
              ><i class="material-icons">logout</i></a
            >
          </li>
        </ng-template>
        <ng-template #notAdminBlock>
          <li>
            <a [routerLink]="['/admin']"
              ><i class="material-icons">admin_panel_settings</i></a
            >
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
