<nav class="transparent black-text z-depth-0">
  <div class="nav-wrapper">
    <div class="col s12">
      <a [routerLink]="['']" class="breadcrumb">
        <i class="material-icons">home</i>
      </a>
      <a [routerLink]="['/product', id]" class="breadcrumb">
        {{ "Product ID: " + id }}
      </a>
    </div>
  </div>
</nav>
<div class="product">
  <div class="row product-row">
    <img class="product-image col" [src]="product.image_url" />

    <div class="product-section col">
      <div>
        <h3>{{ product.title }}</h3>
      </div>
      <div>
        <h4>{{ product.price | currency : "UAH" : "symbol-narrow" }}</h4>
        <a class="product-buy waves-effect waves-light btn-large" on-click="add(id)">
          Купить
          <i class="material-icons"> add_shopping_cart </i>
        </a>
      </div>
    </div>
  </div>
  <div
    style="
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 5em;
    "
  >
    <div class="product-specification">
      <h3>Опис</h3>
      <span> {{ product.description }} </span>
    </div>
  </div>

  <!-- <div class="product-characteristic">
    <h3>Lorem</h3>
    <div class="collection" style="width: 80%">
      <div class="collection-item"><span class="badge">1</span>Alan</div>
      <div class="collection-item"><span class="badge">1</span>Alan</div>
      <div class="collection-item"><span class="badge">1</span>Alan</div>
      <div class="collection-item"><span class="badge">1</span>Alan</div>
      <div class="collection-item"><span class="badge">1</span>Alan</div>
    </div>
  </div>
  <div class="review-form">
    <h3>Оставить отзыв о товаре</h3>
    <form>
      <div class="form-group">
        <label for="name">Ваше имя:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="form-group">
        <label for="email">Ваш Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="review">Ваш отзыв:</label>
        <textarea id="review" name="review" required></textarea>
      </div>
      <button
        type="submit"
        class="submit-btn waves-effect waves-light btn-large"
      >
        Отправить отзыв
        <i class="material-icons"> arrow_upward </i>
      </button>
    </form>
  </div> -->
</div>
