/* You can add global styles to this file, and also import other style files */
nav .brand-logo.left {
    left: 0.5rem;
}

.breadcrumb {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

.breadcrumb:last-child {
    color: #000;
}

.breadcrumb:before {
    color: rgba(0, 0, 0, 0.7);
}